streamlit
langchain
langchain-community
langchain-ollama
langchain-qdrant
langchain-text-splitters
langchain-google-genai
google-generativeai
qdrant-client
pymupdf
python-dotenv
sentence-transformers
fastapi
uvicorn[standard]
psycopg2-binary
bcrypt
pandas
resend
